<header class="header">
    <div class="container">
        <div class="header__wrap">
        <div class="header__logo logo">
            <a href="/"><img src="./images/logo.jpg" alt="logo" class="logo"></a>
        </div>
        <div class="header__msg">
            <span>Restart — Ваша зона автокомфорту</span>
        </div>
        <div class="burger-menu">
            <input id="menu__toggle" type="checkbox">
            <label class="burger" for="menu__toggle">
                <span></span>
            </label>
            <nav class="burger__bar">
                <ul>
                    <li class="burger__bar-item">
                        <a href="#">Про компанію</a>
                    </li>
                    <li class="burger__bar-item">
                        <a href="#">Мережа СТЦ</a>
                    </li>
                    <li class="burger__bar-item">
                        <a href="#">Інтернет-магазин</a>
                    </li>
                    <li class="burger__bar-item">
                        <a href="#">Готові рішення для СТО</a>
                    </li>
                    <li class="burger__bar-item">
                        <a href="#">Контакти</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header__msg header__msg--mobile">
            <span>Restart — Ваша зона автокомфорту</span>
        </div>
    @@include('./nav.html')
    </div>
</header>
