<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo logo">
        <a href="../index.html"
          ><img src="../images/logo.jpg" alt="logo" class="logo"
        /></a>
      </div>
      <div class="header__msg">
        <span>Restart — Ваша зона автокомфорту</span>
      </div>
      <div class="burger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="burger" for="menu__toggle">
          <span></span>
        </label>
        <nav class="burger__bar">
          <ul>
            <li class="burger__bar-item">
              <a href="../about/index.html">Про компанію</a>
            </li>
            <li class="burger__bar-item">
              <a href="../network/index.html">Мережа СТЦ</a>
            </li>
            <li class="burger__bar-item">
              <a href="../store/index.html">Інтернет-магазин</a>
            </li>
            <li class="burger__bar-item">
              <a href="../solutions/index.html">Готові рішення для СТО</a>
            </li>
            <li class="burger__bar-item">
              <a href="../contacts/index.html">Контакти</a>
            </li>
          </ul>
        </nav>
        <div class="burger__overlay"></div>
      </div>
    </div>
    <div class="header__msg header__msg--mobile">
      <span>Restart — Ваша зона автокомфорту</span>
    </div>
    @@include('./nav.html')
  </div>
  <script type="module" src="../js/navTabs.js"></script>
  <script type="module" src="../js/pages/home/utils/burgerToggle.js"></script>

</header>
