@use "sass:map";
@use "../../base/vars" as *;
@use "../../mixins" as *;

.form-area {
  position: relative;
  width: 100%;
  background-image: url("../images/form_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 37px 75px 37px 36px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 88px;

  @include respond-to(laptop-m) {
    display: grid;
    grid-template-columns: 1fr;
    padding: 41px 0 46px 0;
    row-gap: 31px;
    margin-bottom: 53px;
  }

  @include respond-to(tablet) {
    padding: 27px 0 36px;
    row-gap: 24px;
    margin-bottom: 25px;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.67),
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.44),
      rgba(0, 0, 0, 0.33),
      rgba(0, 0, 0, 0.23),
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.1)
    );
  }

  &__title {
    position: relative;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
    width: 50%;
    margin-top: 102px;
    line-height: 1.38;

    @include respond-to(laptop-m) {
      font-size: 20px;
      width: 460px;
      margin: 0 auto;
      text-align: center;
    }

    @include respond-to(tablet) {
      width: 264px;
    }
  }

  .form {
    position: relative;
    background-color: #fff;
    color: map.get($colors, black);
    padding: 34px 22px 32px 25px;

    @include respond-to(laptop-m) {
      padding: 13px 15px 22px 15px;
      max-width: fit-content;
      margin: 0 auto;
    }

    border-radius: 5px;
    z-index: 2;

    &-group {
      width: 350px;
      margin-left: -5px;
      margin-bottom: 20px;

      @include respond-to(laptop-m) {
        width: 235px;
        margin-bottom: 10px;
      }
    }

    &-submit {
      color: #fff;
      background-color: #27ae60;
      font-size: 18px;
      padding: 16px 45px;
      text-align: center;
      text-wrap: wrap;
      border-radius: 5px;

      @include respond-to(laptop-m) {
        padding: 8px 32px;
        max-width: 235px;
      }
    }

    &-error {
      color: #df0918;
      font-size: 0.8em;
      display: block;
      margin-top: 5px;
    }

    .input-error {
      border-color: #df0918;
      background-color: #fce8e8;
    }

    legend {
      margin-bottom: 25px;

      @include respond-to(laptop-m) {
        max-width: 180px;
        text-align: center;
        margin: 0 auto;
      }
    }

    legend span {
      display: block;
      font-size: 18px;
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 27px;

      @include respond-to(laptop-m) {
        font-size: 16px;
        padding-bottom: 15px;
        margin-bottom: 13px;
      }
    }

    label {
      display: block;
      font-size: 14px;
      margin-bottom: 6px;

      @include respond-to(laptop-m) {
        margin-bottom: 4px;
      }
      span {
        color: #df0918;
      }
    }

    input,
    select {
      width: 100%;
      font-size: 14px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      padding: 16px 0 16px 12px;
      outline: none;

      @include respond-to(laptop-m) {
        padding: 14px 0 13px 8px;
      }
    }

    select {
      @include respond-to(laptop-m) {
        padding-bottom: 10px;
      }
    }

    .custom-select-wrapper {
      position: relative;
      display: block;
    }

    .custom-select {
      appearance: none;
      background-repeat: no-repeat;
      background-position: right 12px center;

      &::-ms-expand {
        display: none;
      }
    }

    .custom-arrow {
      position: absolute;
      right: 15px;
      top: 51%;
      width: 19px;
      height: 21px;
      pointer-events: none;

      @include respond-to(laptop-m) {
        top: 52%;
        right: 10px;
        width: 14px;
        height: 15px;
      }
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56);
    justify-content: center;
    align-items: center;

    &-content {
      background-color: #fefefe;
      padding: 22px 25px;
      border: 1px solid #888;
      width: 100%;
      max-width: 393px;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

      @include respond-to(tablet) {
        width: 90%;
      }
    }

    &-success-icon {
      display: block;
      margin: 53px auto 18px;
    }

    &-title {
      font-size: 18px;
      color: map.get($colors, black);
      margin-bottom: 52px;
      line-height: 1.333;
    }

    &-desc {
      display: block;
      color: #828282;
      font-size: 16px;
      line-height: 1.5;
      border-bottom: 1px solid #e2e2e2;
      padding-bottom: 15px;
      margin-bottom: 22px;
    }

    &-socials {
      display: flex;
      justify-content: center;
      gap: 17px;
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
