@use "sass:map";
@use "../../base/vars" as *;
@use "../../mixins" as *;

.location {
  margin-bottom: 96px;

  @include respond-to(tablet-l) {
    margin-bottom: 55px;
  }

  @include respond-to(tablet) {
    margin-bottom: 56px;
  }

  &__title {
    margin-bottom: 33px;

    @include respond-to(tablet-l) {
      margin-bottom: 30px;
    }

    @include respond-to(mobile) {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  .cities {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include respond-to(laptop-l) {
      flex-wrap: wrap;
    }

    @include respond-to(tablet-l) {
      gap: 56px;
    }

    @include respond-to(mobile) {
      gap: 48px;
    }

    &__item {
      width: 100%;
      max-width: 660px;

      @include respond-to(laptop-l) {
        max-width: 100%;
      }
    }

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      img {
        margin-right: 7px;
      }

      @include respond-to(mobile) {
        margin-bottom: 12px;
      }
    }

    .adress {
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      font-size: 18px;

      &__wrap {
        color: map.get($colors, black);

        @include respond-to(tablet-l) {
          max-width: 100%;
          width: 430px;
        }

        @include respond-to(mobile) {
          margin-bottom: 20px;
        }
      }

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 27px 26px 22px 17px;
        border-bottom: 1px solid #ebebeb;

        &:last-child {
          border: none;
        }

        @include respond-to(tablet-l) {
          padding: 27px 30px 22px 17px;
          flex-wrap: wrap;
        }

        @include respond-to(mobile) {
          padding: 22px 12px;
        }
      }

      &__street {
        border-right: 2px solid #c4c4c4;
        margin-right: 10px;

        @include respond-to(mobile) {
          padding-right: 7px;
        }
      }

      &__desc {
        font-size: 14px;
        color: map.get($colors, grey);

        @include respond-to(mobile) {
          margin-top: 3px;
        }
      }

      &__btn {
        padding: 16px 23px;
        color: map.get($colors, black);

        @include respond-to(tablet-l) {
          padding: 16px 28px;
        }

        @include respond-to(mobile) {
          font-size: 16px;
        }
      }
    }
  }
}
