@use "../../mixins" as *;

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 65px;
  font-size: 16px;
  color: #333;
  padding: 25px 0 110px 0;

  @include respond-to(laptop-l) {
    flex-direction: column;
    padding: 56px 0 7px 0;
    gap: 34px;
  }

  @include respond-to(mobile) {
    padding-top: 35px;
    gap: 20px;
    padding: 36px 0 55px;
  }
  h3,
  h4 {
    font-weight: 400;
  }

  .container {
    max-width: fit-content;
    margin: 0;
    padding: 0;

    @include respond-to(laptop-l) {
      margin-right: auto;
      padding: 0 40px;
    }

    @include respond-to(mobile) {
      margin-right: auto;
      padding: 0 15px;
    }
  }

  &__info {
    @include respond-to(laptop-l) {
      margin-right: auto;
    }
    &-title {
      margin-bottom: 40px;

      @include respond-to(laptop-l) {
        margin-bottom: 34px;
      }

      @include respond-to(mobile) {
        margin-bottom: 37px;
      }
    }
    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 38px;
      line-height: 1.5;
      margin-bottom: 18px;

      @include respond-to(laptop-l) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
        grid-column-gap: 66px;
        grid-row-gap: 50px;
      }

      @include respond-to(mobile) {
        grid-template-columns: 1fr;
        grid-row-gap: 36px;
        grid-column-gap: 0;
      }

      a {
        display: block;

        .c-b {
          color: #337ab7;
        }

        .c-g {
          color: #999999;
        }

        .c-v {
          color: #79509a;
        }
      }

      &-title {
        font-size: 20px;
      }
    }
  }

  &__map {
    iframe {
      @include respond-to(laptop-l) {
        width: 100vw;
      }
    }
  }
}
