@use 'sass:map';
@use '../base/vars' as *;
@use '../mixins' as *;

.header {
    max-width: 1440px;
    padding-top: 23px;
    margin: 0 auto;

    &__logo {
        width: 184px;
        margin-right: 30px;   

        @include respond-to(tablet-l) {
            margin-right: 0;
        }  
    }

    &__wrap {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        margin-bottom: 60px;

        @include respond-to(laptop) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }  

        @include respond-to(tablet-l) {
            margin-bottom: 33px;
        }  

        @include respond-to(mobile) {
            margin-bottom: 17px;
        }  
    }

    &__msg {
         @include respond-to(tablet) {
            display: none;
        }

        &--mobile {
            display: none;

            @include respond-to(tablet) {
                display: block;
                text-align: center;
                margin-bottom: 21px;
            }

        }

    }

    #menu__toggle {
        opacity: 0;
        top: -9999px;

        &:checked~.burger {
            height: 2px;
            width: 32px;
            right: 20px;
            margin-top: 0;
            top: -18px;       
            transform: rotate(45deg);
        }

        &:checked~.burger::before {
            top: 0;
            transform: rotate(0);
        }

        &:checked~.burger::after {
            top: 0;
            transform: rotate(90deg);
        }

        &:checked~.burger__bar {
            display: block;
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .burger {
        display: none;
        position: relative;
        width: 40px;
        height: 4px;
        top: -5px;
        background: map.get($colors, black);
        border-radius: 5px;
        transition: transform .3s ease;

        @include respond-to(tablet) {
            width: 31px;
            top: -8px
        }  

        &-menu {
            display: none;   
            z-index: 999;

            @include respond-to(laptop) {
                display: block;
            }
        }

        &::before, &::after {
            position: absolute;
            content: '';
            width: inherit;
            height: inherit;
            background: inherit;
            border-radius: inherit;
        }

        &::before {
            top: -8px;
        }

        &::after {
            top: 8px;
        }


        @include respond-to(laptop)  {
            display: block;
            z-index: 2;
        }


        &__bar {
            background-color: #fff;
            display: none;
            width: 100%;
            max-width: 698px;
            color: map.get($colors, black);
            font-size: 18px;
            z-index: 1;
            border-radius: 8px;
            

            ul {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-top: 63px;
            }

            &-item {
                border-bottom: 1px solid #E2E2E2;
                padding: 23px 0;

                &:last-child {
                    border: none;
                }
            }
        }
    }
}