@use 'sass:map';
@use 'base/reset' as *;
@use 'base/vars' as vars;
@use 'mixins';

@use 'layout';
@use 'pages';

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #f9f9f9;
}

h2, h3 {
    font-size: 20px;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;

    @include mixins.container-width(100%);

    @include mixins.respond-to(desktop) {
        @include mixins.container-width(map.get(vars.$breakpoints, laptop-l))
    }

    @include mixins.respond-to(laptop-m) {
        @include mixins.container-width(map.get(vars.$breakpoints, laptop-m))
    }

    @include mixins.respond-to(laptop) {
        @include mixins.container-width(map.get(vars.$breakpoints, laptop))
    }

    @include mixins.respond-to(tablet-l) {
        @include mixins.container-width(map.get(vars.$breakpoints, tablet-l))
    }

    @include mixins.respond-to(tablet) {
        @include mixins.container-width(map.get(vars.$breakpoints, tablet))
    }

    @include mixins.respond-to(mobile) {
        @include mixins.container-width(map.get(vars.$breakpoints, mobile));
        padding: 0 15px;
    }

    @include mixins.respond-to(mobile-m) {
        @include mixins.container-width(map.get(vars.$breakpoints, mobile-m))
    }

    @include mixins.respond-to(mobile-s) {
        @include mixins.container-width(map.get(vars.$breakpoints, mobile-s))
    }
}